# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/

# Environment
.env

# Tools
.pytest_cache/
.coverage
.tox/
.mypy_cache/

# Git
.git/
.github/

# IDE
.vscode/
.idea/

# Docker
Dockerfile
.dockerignore
